@font-face {
    font-family: "unaego";
    src: url("../assets/fonts/Unageo-Regular-BF65baf2f19dc5f.ttf");
}
@font-face {
    font-family: "unaego-light";
    src: url("../assets/fonts/Unageo-Light-BF65baf2f14fa73.ttf");
}
@font-face {
    font-family: "acorn-bold";
    src: url("../assets/fonts/Unageo-Bold-BF65baf2f118643.ttf");
}