@import url("./_additionals.css");
@import url("./_tailwind.css");
@import url("./_fonts.css");
* {
  @apply box-border p-0 m-0 transition-all ease-in-out duration-300;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
